.spinner-custom {
  height: 40px;
  width: 40px;
  margin: 0px auto;
  position: relative;
  -webkit-animation: rotation 1.5s infinite linear;
  -moz-animation: rotation 1.5s infinite linear;
  -o-animation: rotation 1.5s infinite linear;
  animation: rotation 1.5s infinite linear;
  border-left: 4px solid $primary-color;
  border-right: 4px solid $primary-color;
  border-bottom: 4px solid $primary-color;
  border-top: 4px solid $primary-color-light;
  border-radius: 100%;
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}

@-moz-keyframes rotation {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(359deg);
  }
}

@-o-keyframes rotation {
  from {
    -o-transform: rotate(0deg);
  }
  to {
    -o-transform: rotate(359deg);
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
