.ant-layout-footer {
  background: $secondary-color;

  span,
  a {
    color: #fff;
  }
}

.ant-modal-title {
  font-family: Grad-Bold;
  font-size: 18px;
}

.ant-btn {
  text-transform: uppercase;
  border-radius: 4px;
  height: 40px;
  padding: 5px 30px;
}

.ant-btn-primary {
  background-color: $primary-color;
  border-color: $primary-color;
}

.ant-btn-primary:hover {
  background-color: $primary-color;
  border-color: $primary-color;
  color: $secondary-color;
}

.ant-layout-content {
  height: calc(100vh - 70px);
}

.ant-table-thead > tr,
.ant-table-tbody > tr:hover {
  cursor: pointer;
}

.ant-input {
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #b7b7b7;
  padding-left: 2px;
}

.table-row-light {
  background: #fff;
}

.table-row-dark {
  background: #e3e3e3;
}
